[submodule "subs/nyt-nlp"]
	path = subs/nyt-nlp
	url = https://github.com/d10genes/nyt-nlp.git
[submodule "subs/traffic-atl"]
	path = subs/traffic-atl
	url = https://github.com/d10genes/traffic-atl.git
[submodule "subs/crf-edu"]
	path = subs/crf-edu
	url = https://github.com/d10genes/crf-edu.git
[submodule "subs/boy_who_lived"]
	path = subs/boy_who_lived
	url = https://github.com/d10genes/boy_who_lived.git
[submodule "subs/word2vec"]
	path = subs/word2vec
	url = https://github.com/d10genes/word2vec.git
[submodule "subs/numba-lookup"]
	path = subs/numba-lookup
	url = https://github.com/d10genes/numba-lookup.git
